body {
    color: antiquewhite;
    background-color: #111;
    height: 100vh;
    margin: 0;
  }
  
  canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .button-container{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;    
    z-index: 999;
  }

  .play-button-background{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #5447b0;
    opacity: 0.5;
  }

  .play-button{
    height: 0px;
    width: 0px;
    background: none;
    border-top: 25px solid transparent;
    border-left: 50px solid #aaa4d9;
    border-bottom: 25px solid transparent;
    border-right: none;
    z-index: 999;
    cursor: pointer;
  }

  .play-button:hover{ 
    border-left: 50px solid #ffffff; 
  }

  .play-button:hover + .play-button-background{ 
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #7268c0;
    opacity: 0.5;
 
}

  .background_image{
    width: 100%;
    height: 100%;
    background: url(paper.jpg) no-repeat 48% 90%;
    background-size: cover;
    position: fixed;
    min-height: 600px;
  }

  .canvas-container{
    width: 100%;
    height: 100%;
    position: fixed;
  }

  .stars-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }

  .stars-row1{
    display: flex;
    justify-content: space-around;
  }
  .stars-row2{
    display: flex;
    justify-content: space-around;
  }
  .stars-row3{
    display: flex;
    justify-content: space-between;  
    }
 
    .star{
        color: white;
    }